# Compiled class file
*.class
.idea
# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/misc.xml
.idea/.gitignore

**/target
# Log file
*.log

# Package Files #
*.jar
*.zip
*.tar.gz
*.rar

hs_err_pid*
